<% if user_signed_in? %>
  <span>
    <span><%= link_to(current_user.email, edit_user_registration_path) %></span>
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
  </span>
<% else %>
  <span>
    <%= link_to('Login', new_user_session_path) %>
  </span>
<% end %>
